<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
  <% @blogs.each do |blog| %>
    <div class="max-w-sm p-6 rounded-lg">
      <%= link_to "#" do %>
        <%= image_tag 'ogp_base.png', class: "h-auto max-w-full rounded-lg" %>
      <% end %>
      <div class="mt-1">
        <div class="flex items-center justify-between">
          <h4 class="text-lg font-semibold text-gray-600 dark:text-gray-300">
            <%= link_to blog.title, "#", class: "hover:underline" %>
          </h4>
          <span class="text-gray-600 dark:text-gray-300 text-sm ml-1">blog.created_at</span>
        </div>
      </div>
      <div class="mt-1">
        <%= link_to 'Rails', "#", class: "bg-red-100 hover:bg-red-200 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 inline-flex items-center justify-center" %>
        <%= link_to 'JavaScript', "#", class: "bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 inline-flex items-center justify-center" %>
      </div>
    </div>
  <% end %>
</div>
